
body {
  background:url("/addons/img/jetpack-bg.jpg") no-repeat scroll center top #FFFFFF;
  margin:0;
  padding:0;
}

#header {
  background-color:rgba(9, 0, 166, 0.7);
  color:#FFFFFF;
  height:60px;
  padding:0;
  width:100%;
}

#header div {
  font-family:georgia,times,serif;
  font-weight:bold;
  font-size:20px;
  margin:0 auto;
  padding:15px 0 0;
  width:950px;
}

a img {
  border:0;
}

.navItemContainer {
background-color:rgba(79, 134, 166, 0.1);
font-family:"MuseoSans";
font-size:14px;
left:0;
text-align:left;
text-decoration:none;
text-transform:uppercase;
width:100%;
}

.navItem {
margin:0 auto;
padding:16px 0;
width:950px;
}

.sideLogo {
margin:-38px auto;
padding:2px;
width:76px;
border:0;
}

h1 {
  background: url(logo.png) no-repeat top left;
  margin: 30px auto 0 auto;
}
h1, h2 {
  font-family: "DroidSans", sans-serif;
  color: #404041;
}

ul#menu {
  margin:-20px 0 0 76px;
  padding:0 0 10px 0;
  text-align:left;
  list-style: none;
  font-family: "DroidSans", sans-serif;
}
ul#menu li {
  height: 100%;
  padding: 0;
  float: left;
  margin: 0 10px;
}
ul#menu li.active {
  background-color:rgba(255, 255, 255, 0.7);
}
ul#menu li.active a {
  color: #345B7D;
}
ul#menu li a[href ^="http"] {
  padding-right: 15px;
}
ul#menu li a[href ^="http"]:hover {
  background: url(/addons/img/external.png) right no-repeat #FFFFFF;
}
ul#menu li a:hover {
  background-color:#FFFFFF;
}
ul#menu li a {
  text-decoration: none;
  color: #9F423B;
  font-size:14px;
  text-shadow:1px 1px 1px rgba(173, 182, 186, 0.6);
  padding: 5px;
}

div#content {
  width: 800px;
  margin: 0 auto;
}

/* CSS for find your ambassador */
#map_canvas {
  height: 500px;
}

/* CSS for meet the ambassaors */
ul#ambassadors {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 11px;
}
ul#ambassadors li {
  background: white;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  width: 390px;
  height: 220px;
  margin: 0 0 20px 8px;
  display: block;
  float: left;
  position: relative;
  border: #ADB6BA solid;
  -moz-border-bottom-colors:#ADB6BA #E7EAEC #E7EAEC;
  border-width: 1px 1px 3px;
  -moz-transition-duration: 0.3s;
  -moz-transition-delay: 0.3s;
  top: 0;
}
ul#ambassadors li:hover {
  -moz-box-shadow: 0 2px 2px #345B7D;
  box-shadow: 0 2px 2px #345B7D;
  top: -2px;
  -moz-transition-duration: 0.1s;
  -moz-transition-delay: 0s;
}
ul#ambassadors li:hover dd a {
  text-decoration: underline;
}
ul#ambassadors li:hover h3 a {
  padding-right: 12px;
  background: url(link.png) no-repeat right 40%;
}
ul#ambassadors li h3 {
  font-weight: normal;
  margin-left: 210px;
}
ul#ambassadors li img {
  position: absolute;
  bottom: 25px;
  left: 25px;
  height: 170px;
  width: 150px;
}
ul#ambassadors li dt {
  font-weight: bold;
  display: block;
  float: left;
  clear: left;
  margin: 2px 0 0 210px;
  padding-right: 5px;
  text-transform: uppercase;
}
ul#ambassadors li dd {
  display: block;
  margin: 2px 0 0 0;
  padding: 0;
  float: left;
}
ul#ambassadors li dl dt.email, ul#ambassadors li dl dt.address, ul#ambassadors li dl dt.website {
  width: 0;
  padding: 0;
  overflow: hidden;
}
ul#ambassadors li dl dt.address+dd {
  margin: 10px 0;
}
ul#ambassadors li dl dd address {
  font-style: normal;
  line-height: 1.2;
}
ul#ambassadors li a:visited {
  color: blue;
}
