
body {
  background: #DBDBDB url(https://jetpack.mozillalabs.com/images/back.jpg) no-repeat top center fixed;
}
h1 {
  text-indent: -9999px;
  background: url(logo.png) no-repeat top left;
  width: 885px;
  height: 158px;
  margin: 80px auto 0 auto;
}
h1, h2 {
  font-family: "DroidSans", sans-serif;
  color: #404041;
}
ul#menu {
  -moz-border-bottom-colors:#ADB6BA #E7EAEC #E7EAEC;
  -moz-border-radius:0.25em 0.25em 0.25em 0.25em;
  background-color:#FFFFFF;
  border-color:#ADB6BA;
  border-style:solid;
  border-width:1px 1px 3px;
  margin: 20px auto;
  max-width:800px;
  padding:0 40px;
  text-align:left;
  width:800px;
  list-style: none;
  display: block;
  height: 28px;
  font-family: "DroidSans", sans-serif;
}
ul#menu li {
  display: block;
  height: 100%;
  padding: 0;
  float: left;
  margin: 0 10px;;
}
ul#menu li.active {
  background-color:rgba(173, 182, 186, 0.3);
}
ul#menu li.active a:hover {
  border-bottom: none;
}
ul#menu li.active a {
  color: #345B7D;
}
ul#menu li a[href ^="http"] {
  padding-right: 12px;
  background: url(external.png) right 70% no-repeat;
}
ul#menu li a {
  display: block;
  float: left;
  text-decoration: none;
  color: #9F423B;
  font-size:14px;
  text-shadow:1px 1px 1px rgba(173, 182, 186, 0.6);
  padding: 8px 8px 0;
}
ul#menu li a:hover {
  border-bottom: 1px dotted #9F423B;
}

div#content {
  width: 800px;
  margin: 0 auto;
}

/* CSS for find your ambassador */
#map_canvas {
  height: 500px;
}

/* CSS for meet the ambassaors */
ul#ambassadors {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 11px;
}
ul#ambassadors li {
  background: white;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  width: 390px;
  height: 220px;
  margin: 0 0 20px 8px;
  display: block;
  float: left;
  position: relative;
  border: #ADB6BA solid;
  -moz-border-bottom-colors:#ADB6BA #E7EAEC #E7EAEC;
  border-width: 1px 1px 3px;
  -moz-transition-duration: 0.3s;
  -moz-transition-delay: 0.3s;
  top: 0;
}
ul#ambassadors li:hover {
  -moz-box-shadow: 0 2px 2px #345B7D;
  box-shadow: 0 2px 2px #345B7D;
  top: -2px;
  -moz-transition-duration: 0.1s;
  -moz-transition-delay: 0s;
}
ul#ambassadors li:hover dd a {
  text-decoration: underline;
}
ul#ambassadors li:hover h3 a {
  padding-right: 12px;
  background: url(link.png) no-repeat right 40%;
}
ul#ambassadors li h3 {
  font-weight: normal;
  margin-left: 210px;
}
ul#ambassadors li img {
  position: absolute;
  bottom: 25px;
  left: 25px;
  height: 170px;
  width: 150px;
}
ul#ambassadors li dt {
  font-weight: bold;
  display: block;
  float: left;
  clear: left;
  margin: 2px 0 0 210px;
  padding-right: 5px;
  text-transform: uppercase;
}
ul#ambassadors li dd {
  display: block;
  margin: 2px 0 0 0;
  padding: 0;
  float: left;
}
ul#ambassadors li dl dt.email, ul#ambassadors li dl dt.address, ul#ambassadors li dl dt.website {
  width: 0;
  padding: 0;
  overflow: hidden;
}
ul#ambassadors li dl dt.address+dd {
  margin: 10px 0;
}
ul#ambassadors li dl dd address {
  font-style: normal;
  line-height: 1.2;
}
ul#ambassadors li a {
  color: black;
  text-decoration: none;
}