{% extends "addons/base.html" %}

{% block title %}Meet the Ambassadors - Mozilla Addon Ambassadors{% endblock %}

{% block content %}
<h1>Add-on Ambassadors</h1>
<h2>Meet the ambassadors</h2>
<ul id="ambassadors">
  <li class="Europe">
    <h3><a href="" title="Full profile">Christian Sonne</a></h3>
    <img src="cers.png" alt="" />
    <dl class="contact">
      <dt class="email">Email</dt>
      <dd><a href="mailto:cers@geeksbynature.dk">cers@geeksbynature.dk</a></dd>
      <dt class="mobile">Mobile</dt>
      <dd>+45 26146238</dd>
      <dt class="Twitter">Twitter</dt>
      <dd><a href="http://twitter.com/ChristianSonne">@ChristianSonne</a></dd>
      <dt class="IM">IM</dt>
      <dd><a href="xmpp:freakcers@gmail.com">freakcers@gmail.com</a></dd>
      <dt class="skype">Skype</dt>
      <dd><a href="skype://freakcers">freakcers</a></dd>
      <dt class="address">Address</dt>
      <dd><address>Torvegade 50, 5. tv.<br />1400 Copenhagen K<br />Denmark</address></dd>
      <dt class="website">Website</dt>
      <dd><a href="http://geeksbynature.dk">http://geeksbynature.dk</a></dd>
    </dl>
  </li>
  <li class="NorthAmerica">
    <h3>Michael 芳貴 Erlewine</h3>
  </li>
  <li class="NorthAmerica">
    <h3>Erik Vold</h3>
    <dl class="contact">
      <dt class="email">Email</dt>
      <dd><a href="mailto:erikvvold@gmail.com">erikvvold@gmail.com</a></dd>
      <dt class="Twitter">Twitter</dt>
      <dd><a href="http://twitter.com/erikvold">@erikvold</a></dd>
      <dt class="skype">Skype</dt>
      <dd><a href="skype://erik.vold">erik.vold</a></dd>
      <dt class="address">Address</dt>
      <dd><address>571 Pegasus Way<br />Victoria, BC, Canada</address></dd>
      <dt class="website">Website</dt>
      <dd><a title="Erik Vold's Website" rel="external" href="http://erikvold.com/index.cfm">http://erikvold.com/</a></dd>
    </dl>
  </li>
  <li class="Europe">
    <h3>Tobias Leingruber</h3>
  </li>
  <li class="SouthAmerica">
    <h3>Rodrigo Garcia</h3>
  </li>
  <li class="SouthAmerica">
    <h3>Mario Alvarado</h3>
  </li>
  <li class="SouthAmerica">
    <h3>Hernán Colmeiro</h3>
  </li>
  <li class="Asia">
    <h3>Gomita</h3>
  </li>
  <li class="Asia">
    <h3>Daisuke Akatsuka</h3>
  </li>
  <li class="Asia">
    <h3>Hsiao-Ting Yu</h3>
  </li>
  <li class="SouthAmerica">
    <h3>Rodrigo Garcia</h3>
  </li>
</ul>
{% endblock %}